In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

In [5]:
#import csv file
stockx_csv = "Resources/StockX_Data_Contest.csv"

stockx_df = pd.read_csv(stockx_csv)
stockx_df

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,"$1,097",$220,9/24/16,11.0,California
1,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,$685,$220,11/23/16,11.0,California
2,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,$690,$220,11/23/16,11.0,California
3,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,"$1,075",$220,11/23/16,11.5,Kentucky
4,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,$828,$220,2/11/17,11.0,Rhode Island
...,...,...,...,...,...,...,...,...
99951,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$565,$220,12/26/18,8.0,Oregon
99952,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$598,$220,12/26/18,8.5,California
99953,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$605,$220,12/26/18,5.5,New York
99954,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$650,$220,12/26/18,11.0,California
99955,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$640,$220,12/26/18,11.5,Texas

In [15]:
#Clean the data
#Get rid of Nike sales
shoe_brand = "Off-White"
yeezy_stockx = stockx_df[stockx_df["Brand"] != (shoe_brand)]

#Split Sneaker Name:
split = yeezy_stockx["Sneaker Name"].str.split("-", n=4, expand=True)
yeezy_stockx["Colorway"] = split[4]

#Reorder the columns
yeezy_stockx = yeezy_stockx[["Order Date", "Brand", "Sneaker Name", "Colorway", "Sale Price", "Retail Price", "Shoe Size", "Buyer Region"]]
yeezy_stockx

<ipython-input-15-4d2486203da6>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yeezy_stockx["Colorway"] = split[4]

,Order Date,Brand,Sneaker Name,Colorway,Sale Price,Retail Price,Shoe Size,Buyer Region
0,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,Low-V2-Beluga,"$1,097",$220,11.0,California
1,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,V2-Core-Black-Copper,$685,$220,11.0,California
2,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,V2-Core-Black-Green,$690,$220,11.0,California
3,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,V2-Core-Black-Red,"$1,075",$220,11.5,Kentucky
4,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,V2-Core-Black-Red-2017,$828,$220,11.0,Rhode Island
...,...,...,...,...,...,...,...,...
99951,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,V2-Static-Reflective,$565,$220,8.0,Oregon
99952,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,V2-Static-Reflective,$598,$220,8.5,California
99953,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,V2-Static-Reflective,$605,$220,5.5,New York
99954,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,V2-Static-Reflective,$650,$220,11.0,California
99955,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,V2-Static-Reflective,$640,$220,11.5,Texas